  /*  CSS of BigBoysClub App
-------------------------------------
      Authors: @impactmass and @idowu123
      URL: Github accounts with the handle above
      
----------------------------------------*/


/*The margin is drawn outside.*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;}


/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}


    /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;}

ol, ul {
	list-style: none;}

blockquote, q {
	quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;}

table {
	border-collapse: collapse;
	border-spacing: 0;}

.alert.alert-notice{
  display: none;}

/*---------------Typography--------------------*/

body {
  color: #0f2a36;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25em; font-size: 62.5%;
  min-width: 900px;}

h1,h2,h3,h4,h5,h6,p{
  margin: 30px 0;}

p, ul, li, ol {
  font-size: 1.2em;
}

h1 {
  font-size: 1.1em;
  margin: 0.1em 0;
  font-weight: bold;
  letter-spacing: -2px;}


h2 {
  color: #dd3b2a;
  font-size: 1.5em;
  font-weight: 400;}

h3 {
  color: #dd3b2a;
  font-size: 1.2em;
  line-height: 1.2em;}

h3 + p {
  margin-top: 0px;}

abbr[title] {
  border: none;}


/*-------Links-------*/
a {
  color: #2babe1;
  text-decoration: none;}

a:active {
  outline: thin dotted;}

abbr[title] {
  border-bottom: 1px dotted;}

/*--------End ---- of ----Typography-------*/
 
.hide{
  display: none;
}

div.container{
  width: 70%;
  margin: 0 auto;
}

div.logo{
  float: left;
}

div.tag{
  float: right;
}

.group:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



#main .container li{
  font-size: 15px;
}

div.container h1{
  font-size: 30px;
  font-weight: bold;
  color:;

}


div.container li{
  display: block;
  text-align: center;
   
}

.selected{
  color: red;
  font-weight: bold;
}

#quiz-nav li{
  display: inline;
  text-align: center;
}

html{
  background:#fff url('images/house.jpg') top center;
  background-size: cover;}

#welcome h1{
  font-family: 'Lemon', cursive !important;
}
#main{
  text-align: center;
  padding: 100px 0 0 0;
  font-size: 1.2em;
  color: #fffafa;
}

#main .container{
  display: inline-block;
  vertical-align: middle;
}

#main .main{
  opacity: 0.8; padding: 70px 0 0 0;
  background-color: #000;
  border-radius: 3em;}

.main h1{
  padding-bottom: 15px;
}
h1+p{
  margin-bottom: 0;
  padding-bottom: 5px;
}

.bold{
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/*#car{
  background-image: url('images/car.jpg');
}
#watch{
  background-image: url('images/watch.jpg');
}
#residence{
  background-image: url('images/house.jpg')
}

#phone{
  background-image: url('images/phone.jpg');
}

#club{
  background-image: url('images/club.jpg');
}

#shoe{
  background-image: url('images/shoe.jpg');
}
#perfume{
  background-image: url('images/perfume.jpg');
}

#cloth{
  background-image: url('images/cloth.jpg');
}*/

header .container{
  padding:5px 0;
}

.logo{
  padding: 10px 10px;
}

.logo h1, .logo p{
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

.logo h1 span{
  font-size: 0.5em;
  padding: 0 5px;
}

.logo h1{
  letter-spacing: 1px;
  font-family: 'Lemon', cursive !important;
  color: #fff;
  text-shadow: 0 1px 1px #fff5e4;
}

.logo p{
  font-style: italic;
}

.tag{
  font-weight: bold;
  color: #dedede;
}

header{
  background: #ff5959 url('headerbg/jpg') repeat top left;
  box-shadow: 0 1px 9px rgb();
}

.vcenter:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.00005em;
}

#start{
  text-shadow: 0 1px 3px rgb(220, 36, 36);
  font-size: 1.625em !important;
  color: #fff;
  text-transform: uppercase; width: 250px;
  display: inline-block; vertical-align: middle;
  padding: 20px 0; letter-spacing: 1px;
  background: #3f50ab url('btn.jpg') no-repeat 50% 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*border: 1px solid #2743da;*/
}