  /*  CSS of BigBoysClub App
-------------------------------------
      Authors: @impactmass and @idowu123
      URL: Github accounts with the handle above
      
----------------------------------------*/


/*The margin is drawn outside.*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;}


/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}


    /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;}

ol, ul {
	list-style: none;}

blockquote, q {
	quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;}

table {
	border-collapse: collapse;
	border-spacing: 0;}

.alert.alert-notice{
  display: none;}

/*---------------Typography--------------------*/

body {
  color: #0f2a36;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25em; font-size: 62.5%;
  min-width: 900px;}

h1,h2,h3,h4,h5,h6,p{
  margin: 30px 0;}

p, ul, li, ol {
  font-size: 1.2em;
}

h1 {
  font-size: 1.1em;
  margin: 0.1em 0;
  font-weight: bold;
  letter-spacing: -1px;}


h2 {
  color: #dd3b2a;
  font-size: 1.5em;
  font-weight: 400;}

h3 {
  color: #dd3b2a;
  font-size: 1.2em;
  line-height: 1.2em;}

h3 + p {
  margin-top: 0px;}

abbr[title] {
  border: none;}


/*-------Links-------*/
a {
  color: #2babe1;
  text-decoration: none;}

a:active {
  outline: thin dotted;}

abbr[title] {
  border-bottom: 1px dotted;}

/*--------End ---- of ----Typography-------*/
 
.hide{
  display: none;
}

div.container{
  width: 70%;
  margin: 0 auto;
}

div.logo{
  float: left;
}

div.tag{
  float: right;
}

.group:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



#main .container li{
  font-size: 15px;
}

div.container h1{
  font-size: 30px;
  font-weight: bold;
  color:;

}


html{
  background:#fff url('images/house.jpg') no-repeat top center;
  background-size: cover;
}

html.car{
  background:#fff url('images/car.jpg') top center;
}

html.watch{
  background:#fff url('images/watch.jpg') top center;
}

html.perfume{
  background:#fff url('images/perfume.jpg') top center;
}

html.cloth{
  background:#fff url('images/cloth.jpg') top center;
}

html.shoe{
  background:#fff url('images/shoe.jpg') top center;
}

html.club{
  background:#fff url('images/club.jpg') top center;
}

html.phone{
  background:#fff url('images/phone.jpg') top center;
}

#welcome{

}

#welcome h1{
  font-family: 'Lemon', 'Cooper Black', cursive !important;
  margin-top: 50px;
}

#ain .container{
  display: inline-block;
  vertical-align: middle;
}

.main h1{
  padding-bottom: 15px;
}

h1+p{
  margin-bottom: 0;
  padding-bottom: 10px;
}

.bold{
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.logo{
  padding: 10px 10px;
}

.logo h1, .logo p{
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

.logo h1 span{
  font-size: 0.5em;
  padding: 0 5px;
  text-shadow: 0 1px 1px #2babe1;
  letter-spacing: 0;
}

.logo h1{
  font-family: 'Lemon', 'Cooper Black', cursive !important;
  color: #fff;
}

.logo h1 a{
  font-size: 0.8em;
  letter-spacing: -1px;
  text-shadow: 0 1px 2px #fff5e4;
}

.logo p{
  font-style: italic;
  letter-spacing: 1px;
}

.tag{
  font-size: 1em;
  color: #420214;
  letter-spacing: 1px;
  font-style: italic;
}

header{
  background: url('images/headerbg.jpg') top left;
  box-shadow: 0 1px 4px rgba(80,80,80,0.5);
  margin-bottom: 50px;
}

.vcenter:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.00005em;
}

#start{
  text-shadow: 0 1px 1px rgb(0,0,0,1);
  font-size: 1.625em !important;
  color: #fff; font-weight: bold;
  text-transform: uppercase; width: 250px;
  display: inline-block; vertical-align: middle;
  padding: 20px 0; letter-spacing: 1px;
  background: #3f50ab url('images/btn.jpg') no-repeat 50% 50%;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #2743da;
}
p.discl{
  font-size: 1em;
}

#main{
  background-color: rgba(66,2,20, 0.7);
  text-align: center; padding: 40px 0;
  border-radius: 3em;
  font-size: 1.3em; min-height: 500px;
  color: #fff; margin: 0 auto;
  width: 70%;
}
div.page ul{
  text-align: center;
  margin: 20px auto;
}

div.page .options li{
  background-color: #eee;
  padding: 15px;
  margin: 20px auto;
  color: #666;
  width: 80%;
}

#quiz-nav li{
  margin: 20px auto;
  width: 80%;}

#quiz-nav li a{
  display: inline-block;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgb(0,0,0,1);
  color: #fff; font-weight: bold;
  vertical-align: middle;
  padding: 10px 0; letter-spacing: 1px;
  background: #3f50ab url('images/btn.jpg') no-repeat 50% 50%;
  border: 1px solid #2743da;}

.next{
  float: right;
  width: 30%;
}

.previous{
  float: left;
  width: 30%;
}

div.page p{
  font-weight: bold;
}

li.selected{
  color: white !important;;
  font-weight: bold;
  background: #fd4100 !important;
  box-shadow: 1px 3px 6px rgba(255,255,255,0.8);
}

.options li:hover{
  cursor: pointer;
}

#finalscore{
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}